* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #566573;
    color: white;
}
.encabezado{
    margin: 2%;
    max-width: 100%;
    max-height: 200px;
    background-color: #1c2833 ;
    border-radius: 8px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}
.container1{
    max-width: 98%;
    max-height: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    background-color: #1c2833 ;
    border-radius: 8px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}
.item1{
    max-height: 300px;
    max-width: 300px;
    margin: 2%;
    text-align: center;
}
.item2{
    max-height: 200px;
    max-width: 200px;
    margin: 2%;
    text-align: center;
}
img{
    border-radius: 8px;
    justify-content: center;
    max-width: 200px;
    max-height: 200px;
    
}
.color{
    background-color: #4c67d3;
}

a:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

button{
    border-radius: 8px;
}
button:hover{
    transform: scale(1.1);
    background: #7b8487;
    transition: transform 0.3s ease;
    
}
li{
    display: inline;
}